<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcp.role">

	<resultMap type="com.lcp.model.Role" id="roleMap">
		<id property="roleId" column="ROLE_ID" />
		<result property="roleName" column="ROLE_NAME" />
		<result property="roleStatus" column="ROLE_STATUS" />
		<result property="roleCreateTime" column="ROLE_CREATE_TIME" />
		<result property="remark" column="ROLE_REMARK" />
	</resultMap>

	<select id="getRole" resultMap="roleMap">
		SELECT
			ro.ROLE_ID,
			ro.ROLE_NAME,
			ro.ROLE_STATUS,
			ro.ROLE_CREATE_TIME,
			ro.ROLE_REMARK
		FROM
		t_com_role ro
	</select>
	
	<!--添加角色  -->
	<insert id="addRole" parameterType="com.lcp.model.Role">		
		INSERT INTO T_COM_ROLE(
				ROLE_NAME,
				ROLE_STATUS,
				ROLE_CREATE_TIME,
				ROLE_REMARK
		)
		VALUES( 
				#{roleName},
				#{roleStatus},
				sysdate(),
				#{remark}
			  )
	</insert>

</mapper>